# Git
.git/
.gitignore

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
venv/
.env
.venv/

# Data
data/

# Notebooks
notebooks/

# Tests
tests/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Docker
Dockerfile
.dockerignore

# Logs
*.log
